@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');


body {
   font-family: 'Quicksand', sans-serif;
   color: rgb(0, 0, 0);
   background-color: #E5E5E5;
}

.signout {
   position: absolute;
   width: 253px;
   height: 58px;  
   left: 1141px;
   top: 23px;
   color: white;
}

a {
   color: white;
}

.jumbotron {
   font-size: 20px;
   padding: 15px;
   background-color: #0078D7;
   text-align: left;
   color: white;
   
} .featured-image {
   width: 79px;
   height: 85px;
   left: 46px;
   top: 144px;
   border-radius: 200px;
   float: left;
}

main {
   padding: 20px;
   overflow: auto;
}

.Iqbal {
   position: absolute;
width: 253px;
height: 58px;
left: 155px;
top: 158px;
}

.Day {
   position: absolute;
   width: 253px;
   height: 58px;
   left: 155px;
   top: 293px;  
}

.Important {
   position: absolute;
width: 253px;
height: 58px;
left: 155px;
top: 400px;
}

.Planned {
   position: absolute;
   width: 253px;
   height: 58px;
   left: 155px;
   top: 512px;
}

.Todo {
   position: absolute;
   width: 253px;
   height: 58px;
   left: 155px;
   top: 625px;
}

.shape {
   position: absolute;
width: 938px;
height: 158px;
left: 438px;
top: 135px;

background: #FFFFFF;
border-radius: 5px;
}

